@if (visible()) {
  <div class="overlay" (click)="cancel()">
    <div class="modal animate-in" (click)="$event.stopPropagation()">
      <h2>{{ getText() }} </h2>
      <p i18n="@@message_write_you_want">Por favor escribe lo que deseas:</p>

      <input 
        type="text" 
        [(ngModel)]="userInput" 
        placeholder="Escribe aquí..."
        (keydown.enter)="submit()"
        i18n-placeholder="@@message_input_placeholder"
      />

      <div class="actions">
        <button class="btn accept" (click)="submit()" i18n>Aceptar</button>
        <button class="btn cancel" (click)="cancel()" i18n>Cancelar</button>
      </div>
    </div>
  </div>
}
