<div class="header animate__animated animate__fadeInDown">
  <h2 i18n="@@welcome-message">Bienvenido<span style="color:#4da6ff;">.</span></h2>
  <p i18n>No tienes una cuenta? <a routerLink="../register">Registrarme</a></p>
</div>

<form class="animate__animated animate__fadeInUp" [formGroup]="form" (ngSubmit)="login()">
  <div class="form-group">
    <input type="email" placeholder="Email" formControlName="username" i18n-placeholder="@@email_placeholder">
    <i class="fa-solid fa-envelope"></i>
  </div>
  @if (helperForm().haveErrors('username')) {
    <div class="div-error">
      @if (helperForm().hasError('username', 'email')) {
      <div i18n>*ingrese un email válido</div>
      } @if (helperForm().hasError('username', 'required')) {
      <div i18n>*requerido</div>
      }
    </div>
  }

  <div class="form-group">
    <input type="password" placeholder="Contraseña" #password1 formControlName="password" i18n-placeholder="@@password_placeholder">
    <i class="icon-password fa-regular fa-eye" #passwordIcon1 (click)="togglePasswordVisibility(passwordIcon1, password1)"></i>
  </div>
  @if(helperForm().haveErrors('password')){
    <div class="div-error">
      @if(helperForm().hasError('password', 'minlength')){
          <div i18n>*mínimo 8 caracteres</div>
      }@else if(helperForm().hasError('password', 'required')){
          <div i18n>*requerido</div>
      }
    </div>
  }

  <div class="btns">
    <button type="submit" class="btn btn-create" i18n="@@login-button">Iniciar sesión</button>
  </div>
</form>

<app-loading [show]="maskLoad()"></app-loading>