.container {
  padding: 100px 20px 40px;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  position: relative;
  z-index: 2;
}

.post:hover {
  transform: translateY(-3px);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-title{
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.post-actions button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.post-actions button:hover {
  color: #4facfe;
}

.post-content {
  margin: 15px 0;
  font-size: 15px;
  line-height: 1.5;
  overflow-wrap: anywhere;
}

.noItems{
  color: #ffff;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 35px 15px 30px;
  }
}